* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right bottom, #ebf4f5, #b5c6e0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-box {
    width: 50%;
    max-width: 400px;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px 28px;
    margin-inline: 20px;
}

.form-box header h1 {
    text-align: center;
    color: #5851e3;
}

.form-box form {
    margin-block: 30px;
}

input {
    width: 100%;
    padding: 18px 16px;
    border: none;
    outline: none;
    border-radius: 4px;
    background-color: #a3a3a331;
    font-size: 16px;
    margin: 12px 0
}

a {
    text-decoration: none;
    color: #767676;
    font-size: 14px;
}

input[type="button"] {
    margin-block: 24px;
    background-color: #5851e3;
    color: #ffffff;
    font-size: 22px;
    font-weight: 700;
    border-radius: 8px;
    cursor: pointer;
    transition: .4s;
}

input[type="button"]:hover {
    background-color: #10449a;
}

input[type="text"] {
    display: none;
}

.links{
    display: flex;
    justify-content: center;
}

.links a img {
    max-width: 40px;
    margin-inline: 10px;
}
.signup {
    text-align: center;
    margin-block: 20px;
}
 
.signup a {
    font-size: 16px;
    font-weight: 700;
    color: #5851e3;
}

.signup a:hover {
    color: #10449a;
    text-decoration: underline 2px;
    text-underline-offset: 3.5px;
}
/* css to achieve responsiveness */
@media  and (max-width:700px) {
    .form-box{
        width: 100%;
    }
}
